body {
  background-image:url(Fon1.jpg);
}
.drakoni {
  width:1800px;
  height:800px;
  background-color:lightblue;
  display:grid;
  grid-template-columns:auto auto auto;
  grid-template-rows:auto auto;
  gap:10px;
  margin-left:50px;
  margin-top:50px;
}

.drakon1 {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:2;
}

.drakon2 {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;

}

.drakon3 {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:2;
  box-shadow:-20px -20px 30px rgba(0,0,0,1.5),20px 20px 30px rgba(228,231,24,1.5);
}

.drakon4 {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
}

.drakon5 {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:3;
}

.drakon2:hover{
  transform:translate(450px, 450px) rotate(360deg) translate(-450px, -450px) scale(2) ;
  transition:transform 3s ease;

}


table {
  font-size:45px;
border-collapse:collapse;
  margin:100px;
  background-color:lightblue;
}

td {
  width:350px;
  height:100px;
  text-align: center;
  vertical-align: middle;
    border-right:4px solid red;  
  border-left:4px solid blue;

}
